{% extends 'recipes/recipes-base.html' %}
{% block title %}Recipes - New Item{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Recipes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'recipes-home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">New Recipe</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="{% url 'cookbook' %}">Cookbook</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}

{% block content %}
<!-- container to hold header and any alert messages -->
<div class="container">
    <h1 class="px-5">Add new Recipe to Cookbook</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-danger fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
</div>
<div class="container mb-3">
    <form method="post">
        {% csrf_token %}
        <!-- Recipe form -->
        <div class="container">
            <div class="mb-3 px-5">
                <label>Name:</label>
                {{ recipe_form.name }}
            </div>
            <div class="mb-3 px-5">
                <label>Category:</label>
                {{ recipe_form.category }}
            </div>
            <div class="mb-3 px-5">
                <label>Cook Time Max (mins):</label>
                {{ recipe_form.cook_time_max }}
            </div>
            <div class="mb-3 px-5">
                <label>Cook Time Min (mins):</label>
                {{ recipe_form.cook_time_min }}
            </div>
            <div class="mb-3 px-5">
                <label>Prep Time (mins):</label>
                {{ recipe_form.prep_time }}
            </div>
            <div class="mb-3 px-5">
                <label>Servings:</label>
                {{ recipe_form.servings }}
            </div>
            <div class="mb-3 px-5">
                <label>Instructions:</label>
                {{ recipe_form.instructions }}
            </div>
            <div class="mb-3 px-5">
                <label>Notes:</label>
                {{ recipe_form.notes }}
            </div>
        </div>
        <!-- Ingredient group form -->
        <div class="container">
            <h4 class="border-top mb-3">Ingredient Group Name</h4>
            <div class="mb-3 px-5">
                {{ ingredient_group_form.name.label_tag }}
                {{ ingredient_group_form.name }}
            </div>
        </div>
        <div class="container">
            <h4 class="border-top mb-3">Ingredients</h4>
            <button type="button" class="btn btn-outline-primary" onclick="addNewIngredient()">Add New Ingredient</button>
            {{ ingredient_formset.management_form }}

            <!--For displaying errors if any-->
            {% if ingredient_formset.non_form_errors %}
            <div class="alert alert-danger">
                {{ ingredient_formset.non_form_errors }}
            </div>
            {% endif %}

            <div class="container" id="ingredients-group">
                {% for form in ingredient_formset %}
                <div class=formset-row" data-form-index="{{ forloop.counter0 }}">
                    <div class="row">
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Ingredient Name</label>
                            {{ form.name }}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Amount</label>
                            {{ form.amount }}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Measurement</label>
                            {{ form.measurement }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'recipes-home' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
<!-- Template for new ingredient -->
{% include 'recipes/new-ingredient-template.html' with col="col-md-4" %}
{% endblock %}
