{% extends 'recipes/recipes-base.html' %}
{% block title %}Recipes - New Item{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Recipes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'recipes-home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">New Item</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="{% url 'cookbook' %}">Cookbook</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}

{% block content %}
<!-- container to hold header and any alert messages -->
<div class="container">
    <h1 class="px-5">Add new Recipe to Cookbook</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-danger fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
</div>
<div class="container mb-3">
    <form method="post">
        {% csrf_token %}
        <!-- Recipe form -->
        <div class="container">
            <div class="mb-3 px-5">
                {{ recipe_form.name.label_tag }}
                {{ recipe_form.name }}
            </div>
            <div class="mb-3 px-5">
                {{ recipe_form.category.label_tag }}
                {{ recipe_form.category }}
            </div>
            <div class="mb-3 px-5">
                {{ recipe_form.time_min.label_tag }}
                {{ recipe_form.time_min }}
            </div>
            <div class="mb-3 px-5">
                {{ recipe_form.time_max.label_tag }}
                {{ recipe_form.time_max }}
            </div>
            <div class="mb-3 px-5">
                {{ recipe_form.servings.label_tag }}
                {{ recipe_form.servings }}
            </div>
            <div class="mb-3 px-5">
                {{ recipe_form.instructions.label_tag }}
                {{ recipe_form.instructions }}
            </div>
            <div class="mb-3 px-5">
                {{ recipe_form.notes.label_tag }}
                {{ recipe_form.notes }}
            </div>
        </div>
        <!-- Ingredient group form -->
        <div class="container">
            <h4 class="border-top mb-3">Ingredient Group Name</h4>
            <div class="mb-3 px-5">
                {{ ingredient_group_form.name.label_tag }}
                {{ ingredient_group_form.name }}
            </div>
        </div>
        <div class="container">
            <h4 class="border-top mb-3">Ingredients</h4>
            <button type="button" class="btn btn-outline-primary" onclick="addNewIngredient()">Add New Ingredient</button>
            {{ ingredient_formset.management_form }}

            <!--For displaying errors if any-->
            {% if ingredient_formset.non_form_errors %}
            <div class="alert alert-danger">
                {{ ingredient_formset.non_form_errors }}
            </div>
            {% endif %}

            <div class="container" id="ingredients-group">
                {% for form in ingredient_formset %}
                <div class=formset-row" data-form-index="{{ forloop.counter0 }}">
                    <div class="row">
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Ingredient Name</label>
                            {{ form.ingredient }}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Amount</label>
                            {{ form.amount }}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Measurement</label>
                            {{ form.measurement }}
                        </div>
                        {% if form.instance.pk %}
                            <div class="col-md-4 mb-3">
                                <div class="form-check">
                                    {{ form.DELETE }}
                                    <label for="{{form.DELETE.id_for_label}}" class="form-check-label text-danger small">
                                        Delete
                                    </label>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'recipes-home' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
<!--plate for new ingredient -->
<template id="add-new-ingredient-template">
    <div class="formset-row" data-form-index="__prefix__">
        <div class="row">
            <input type="hidden" name="ingredients_set-__prefix__-id" id="id_ingredients_set-__prefix__-id">
            <input type="hidden" name="ingredients_set-__prefix__-group-id" id="id_ingredients_set-__prefix__-group-id">
            <div class="col-md-4 mb-3">
                <label class="form-label">Ingredient Name</label>
                <input type="text" name="ingredients_set-__prefix__-ingredient" class="form-control" maxlength="255" id="ingredients_set-__prefix__-ingredient">
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Amount</label>
                <input type="text" name="ingredients_set-__prefix__-amount" class="form-control"  maxlength="10" id="id_ingredients_set-__prefix__-amount">
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Measurement</label>
                <select name="ingredients_set-__prefix__-measurement" id="id_ingredients_set-__prefix__-measurement">
                    <option value selected>---------</option>
                    {% for value, display in measurements %}
                    <option value="{{ value }}">{{ display }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</template>
<script>
    let formIndex = parseInt(document.querySelector('#id_ingredients_set-TOTAL_FORMS').value);

    function addNewIngredient() {
        const emptyIngredientFormTemplate = document.querySelector('#add-new-ingredient-template');
        const form = document.querySelector('#ingredients-group');

        if (!emptyIngredientFormTemplate || !form) {
            console.error("Template or form not found");
            return;
        }

        // Create the new ingredient row
        const template_html = emptyIngredientFormTemplate.innerHTML.replace(/__prefix__/g, formIndex);
        form.insertAdjacentHTML('beforeend', template_html)

        // Update form count
        formIndex += 1;
        document.querySelector('#id_ingredients_set-TOTAL_FORMS').value = formIndex;
    }
</script>
{% endblock %}
